.layout-background{
    position: relative;
}



.layout_bg{
    background-image: url('./BackgroundImage.png');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}