.home-container{
    height: 100vh;
}

.title{
    margin: 0 60px;
    font-size: 36px;
    font-weight: 700;
}

.wrapper{
    margin: 30px 60px 0 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}