.submit-form {
    z-index: 5;
    position: fixed;
    top: 0;
    width: 300px;
    height: 100vh;
    background-color: white;
    padding: 1%;
    right: -100%;
    transition: right 0.5s ease-in-out;
}

.submit-form.expanded {
    right: 0;
}

.submit-form.collapsed {
    right: -100%;
   
}

.form-close:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.submit-title,
.submit-desc {
    transition: opacity 0.3s ease-in-out;
}

.submit-button,
.cancel-button {
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.header-submit {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    padding: 2% 2% 5% 2%;
}

.form-title {
    font-size: 20px;
    color: #4B465C;
    font-weight: 500;
}

.form-close {
    transition: transform 0.3s ease-in-out;
    background-color: rgba(170, 170, 170, 0.619);
    font-size: 20px;
    border-radius: 20%;
    font-weight: 500;
    padding: 1% 1% 0% 1%;
}

.submit-title {
    font-size: 20px;
    color: #4B465C;
    font-weight: 500;
    padding: 1% 2% 0% 2%;
}

.submit-desc {
    font-size: 20px;
    color: #4B465C;
    font-weight: 500;
    width: 100%;
    padding: 5% 2% 0% 2%;
}

.submit-button {
    background-color: #0092DD !important;
    text-transform: none !important;
    margin: 5% 2% 2% 2% !important;
    color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.cancel-button {
    text-transform: none !important;
    background-color: #828282 !important;
    margin: 5% 2% 2% 2% !important;
    color: rgb(255, 255, 255);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}