.signin-page-header-background {
    z-index: 1;
    width: 95%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2% 2% 0 2%;
}
.signin-page-logo {
    z-index: 1;
    width: 35px;
    height: 35px;
    object-fit: cover;
    margin-right: 1%;
}

.signin-page-title {
    z-index: 1;
    font-size: 24px;
    font-weight: 500;
    color: #4B465C;
}
@media screen and (max-width: 768px) {
    .signin-page-logo{
        width: 25px;
        height: 25px;
    }
    .signin-page-title{
        transform: scale(0.85);
    }
}