.signin-page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    z-index: 1;

}

.signin-page {
    display: flex;
    z-index: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.796);
    border-radius: 5px;
    box-shadow: 10px 10px 10px 0px rgba(175, 175, 175, 0.244);
}

/* .signin-page-header-background {
    width: 95%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2% 2% 0 2%;
}

.signin-page-logo {
    width: 30px;
    height: 30px;
    object-fit: cover;
    margin-right: 1%;
}

.signin-page-title {
    font-size: 20px;
    font-weight: 500;
    color: #4B465C;
} */

.signin-page-form-wrapper {
    width: 70%;
    padding: 2% 5% 2% 5%;
}

.sign-in-title {
    text-align: center;
    color: #0092DD;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    padding-bottom: 2%;
    padding-top: 2%;
}

.sign-in-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 2% 2% 2% 2%;
}

.text-field-login {
    width: 100%;
    font-size: '16px' 
}

.random-button {
    margin-left: 2%;
}

.btn-random{
    font-size: 100%;
    background: rgba(0, 146, 221, 0.16)   !important;
    color:#0092DD !important;
}

.signin-submit-button {
    text-align: center;
    margin-top: 3%;
    padding-bottom: 3%;
    width: 100%;
}
.btn-continue{
    font-size: 100%;
    color: rgb(255, 255, 255)   !important;
    background:#0093dda8 !important;
}


@media screen and (max-width: 768px) {
    .signin-page {
        width: 90%;
    }
    /* .signin-page-title{
        transform: scale(0.85);
    } */
    .sign-in-title{
        transform: scale(0.8);
    }
    .signin-page-form-wrapper{
        width:95%;
    }
    .sign-in-form{
        padding: 5% 5% 5% 0%;
    }
    /* .signin-page-logo{
        width: 20px;
        height: 20px;
    } */

    .sign-in-form{
        transform: scale(0.85);
    }
    .btn-continue{
        transform: scale(0.85)
    }

}