
body {
  background-color:rgb(21, 185, 226);

  padding: 30px 30px 30px 30px;

}

@use './DiaryCard.js';

.card{
  background-color:rgb(150, 227, 247);
  //border-radius: 20px;
  word-wrap: break-word;
  overflow: hidden;
  max-width: 345;
  display: block;
  height: fit-content;
  
}

.inputRounded .MuiOutlinedInput-root {
  border-radius: 20px;
  background-color: rgb(54, 166, 231);
  border: rgb(54, 166, 231);
  margin-top: 20;
  margin-bottom: 20;
  display: 'block';
}
.inputRounded .MuiOutlinedInput-root {
  border-radius: 20px;
  background-color: rgb(87, 183, 238);
  border: rgb(87, 165, 238);
  margin-top: 20;
  margin-bottom: 20;
  display: 'block';
}
.button{
  border-radius: 50%;
  background-color: rgb(38, 110, 245);
  width: 80px;
  height: 80px;
  font-weight: bold;

}

.button{
  border-radius: 50%;
  background-color: rgb(38, 110, 245);
  width: 80px;
  height: 80px;
  font-weight: bold;


}
.firstRow{
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  // background-color: rgb(54, 166, 231);
  // border: rgb(54, 166, 231);
}

.descRow{
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  background-color: rgb(54, 166, 231);
  border: rgb(54, 166, 231);

}

