.main {
  background-image: url(/src/assets/download.svg),
    linear-gradient(-45deg, #039be5 0%, #039be5 33%, #00bcd4 100%);
  padding: 2em 0;
  line-height: 1.6;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vh;
  align-items: center;
  flex-flow: row !important;
  font-family: "Open Sans", sans-serif;
}
