
.main {
    background-image: url(/src/assets/download.svg), linear-gradient(-45deg, #039BE5 0%, #039BE5 33%, #00BCD4 100%);
    background-color: #039FE3;
    min-height: 100vh;
    background-attachment: fixed;
    min-width: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topic {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: crimson;
    font-family: 'Open Sans', sans-serif;
    font-size: 70px;
}

.name {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10px;
}

