.main {
  background-image: url(/src/assets/download.svg),
    linear-gradient(-45deg, #039be5 0%, #039be5 33%, #00bcd4 100%);
  background-color: #039fe3;
  min-height: 100vh;
  background-attachment: fixed;
  min-width: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.topic {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: crimson;
  font-family: "Open Sans", sans-serif;
  font-size: 70px;
}

.name {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 10px;
}
