.sign{
    
    padding-top: 250px;
    padding-left: 500px;
    
}
.hedear{
    color: blue;
    margin-right: 80px;
}



.btncontunue{
padding-left: 200px;
padding-bottom: 70px;
}
.photo{
    height:50px;
      width: 50px; 
}