.form-div{
    width: 400px;
    height: 100%;
    position: relative;
    right: 0px;
    background: #FFFFFF;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 26px;
    padding: 24px;
}