.profile{
    position: fixed;
    top: 60px;
    right: 60px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.profile-pic{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}
.profile-icon{
    width: 72px;
    height: 72px;
    border-radius: 100px;
}

.name{
    color: #4B465C;

    font-feature-settings: 'clig' off, 'liga' off;
    /* Light/Button/1) Button lg */
    font-family: Public Sans, sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px; /* 129.412% */
    letter-spacing: 0.43px;
}