.card-container {
    width: 300px;
    overflow: hidden;
    box-shadow: 0px 0px 15px -5px;
    transition: 0.3s;
    animation: ease-in;
    margin: 100px;
    padding: 10px;
}

.card-container:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 15px 0px;
}

.card-content {
    margin: 1rem;
    margin-top: 0.5rem;
}

h3,
h5,
p {
    margin: 0;
    padding: 0px;
}

.card-title {
    margin-bottom: 0.5rem;
}

.card-subtitle {
    margin-bottom: 0.5rem;
}

.btn {
    display: flex;
    justify-content: center;
}

.btn button {
    padding: 0.5rem;
    background-color: white;
    border: none;
    transition: 0.2s;
    margin-bottom: 0.5rem;
}

.btn:hover {
    background: rgba(27, 156, 252, 0.1)
}

a {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
}