.main {
    min-height: 100vh;
    background: linear-gradient(to right top, #52ab99, #7fc6a4);
}

.diary-card {
    max-width: 24% !important;
    min-width: 300px !important;
    min-height: 200px !important;
    border-radius: 10px !important;
}

.card:hover {
    background: rgba(255, 255, 255, 0.7) !important;
    border: 2px solid #116d7b;
    box-shadow: 0 0 10px 1px #1e9591;
}

.new-card-form {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 15px !important;
    height: auto;
    min-width: 350px;
}

.new-card-form:hover {
    background: rgba(255, 255, 255, 0.3);
}

.raw-text-box {
    border-radius: 15px !important;
    border-color: #282c34;
    height: 100px;
}


.see-more {
    color: #116d7b;
    font-weight: 500;
    cursor: pointer;
}

.button {
    background: linear-gradient(to right top, #116d7b, #1e9591) !important;
    border-color: #52ab99 !important;
    font-weight: 500 !important;
    min-width: 100px;
}

.button:hover {
    background: linear-gradient(to right top, #116d7b, #1e9591) !important;
    box-shadow: 0 0 10px 1px #52ab99;
}

.login-form {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 25px !important;
    height: 30vh;
    min-width: 700px;
    width: auto;
    overflow: hidden;
}

.login-form:hover {
    background: rgba(255, 255, 255, 0.3);
}

.button-login {
    background: linear-gradient(to right top, #2d624b, #076c5f) !important;
    border-color: #48a28f !important;
    font-weight: 500 !important;
    margin-top: 20px;
    min-width: 200px;
}

.button-login:hover {
    background: linear-gradient(to right top, #0e5b50, #449171) !important;
    box-shadow: 0 0 10px 1px #d6f8d6;
}

.login-card-header {
    overflow: hidden;
    background: rgba(30, 149, 145, 0.8);
    padding: 5px;
    margin-bottom: 20px;
}

.login-card-header-fonts {
    color: #ffffff;
    box-shadow: #61dafb;
}

.card-trash {
    cursor: pointer;
    float: right !important;
}

.card-trash:hover {
    cursor: pointer;
    animation: shake 50ms;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    50% {
        transform: translate(-3px, 1px) rotate(-2deg);
    }
    100% {
        transform: translate(-2px, -2px) rotate(2deg);
    }
}

.hr {
    height: 2px;
    background: rgba(30, 149, 145, 0.2);
    border-radius: 5rem;
    margin: 5px 0 -10px 0;
}


.top-band {
    background: linear-gradient(to right top, #0e5b50, #076c5f);
}

.nav-logo {
    margin-right: 15px;
}

.nav-profile-img {
    margin-left: 10px;
    height: 40px;
    width: 40px;
    background: #61dafb;
    border-radius: 50%;
}

.spinner {
    width: 20px !important;
    height: 20px !important;
    color: rgba(97, 218, 251, 0.2);
    margin-left: 30px
}

.cards {
    overflow: scroll;
    flex-grow: 1;
}

.no-scroll {
    position: fixed;
    overflow: hidden;
}

.overlay {
    position: fixed;
    overflow-y: scroll;
    top: 10vh;
    right: 0;
    bottom: 0;
    left: 0;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(14, 91, 80, 0.2);
    border-radius: 15px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    background: rgba(14, 91, 80, 0.2);
    border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(14, 91, 80, 0.5);
}
