.containerDiaryHome{
    background-Image: url("./img.jpg");
    background-size:cover;
    height: max-content;
    min-Height:100vh;
    display: flex;
    justify-Content: center; 
    padding-bottom: 2vh;
   
}

.addFormSection1{
    display: flex;
    flex-Wrap: wrap;
    justify-Content: space-between;
    margin-Top: 1vh;
}

.text{
    background-Color: #ededed;
    opacity: 60%;
    border-Radius: 30px !important;
    transition:width 2s; 
    margin-top: 1vh;
}

.textSubmitCollapse{
    width:30%;
   
}

.textSubmitExpand{
    width:80%; 
}

.diaryHomeBtn{
    width: 15%;
    border-Radius: 30px !important;
    border:2px #43ade2 solid !important;
    background-color: #1976d2 !important;    
}

.hidden{
    display: none !important;
}

.visible{
    display: block !important;
}




