.diary-container{
    display: flex;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right bottom, #0c4142, #043f44, #003c46, #003a48, #003749);   
      justify-content: space-between;
   
}

.diary-card{
    width: 30vw;
    /* height: 20vh; */
}

.data-grid{
  display: flex;
  width: 100%;
  height: 70%;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  overflow: auto;
}

.appbar{
  width: 100%;
  height: 8%;
}

.data-form{
  width: 100%;
    height: 88%;
}

.footer{
  justify-content: center;
  align-items: center;
  color: whitesmoke;
}

.desc-area{
    border: 2px solid #3498db;
    font-family: "Calibri Light";
    font-size: 20px;
    border-radius: 10px;
    outline: none;
    padding: 10px;
}

/* masonry css */
.my-masonry-grid {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    margin-left: -30px; /* gutter size offset */
    width: auto;
  }
  .my-masonry-grid_column {
    padding-left: 30px; /* gutter size */
    background-clip: padding-box;
  }
  
  /* Style your items */
  .my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
    background: grey;
    margin-bottom: 30px;
  }