.DiaryHome{
   background-color: #0fbcf9;
   position: relative;
   
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center; 
 
}
.container{
   height: auto;
   min-Height:100vh;
   display: flex;
   justify-Content: center;
   background-size:cover;
   padding: 0;
}
.mainGrid{
   overflow: hidden;
}
.textInputArea{
   background-color: #0fbcf9;
}

