.container{
    background-Image: url("./img.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-Items: center;
    justify-Content: center;
}

.text{
   
    
    background-Color: #a6c5ea;
    opacity: 60%;
  
}

.btn{
    width: 15%;
    border-Radius: 30px !important;
    
    
}



