.home-wrapper {
    padding: 1% 4% 0% 4%;
    display: flex;
    flex-direction: column;
}

.home-header {
    font-size: 30px;
    color: #4b465c;
    font-weight: 500;
    padding-bottom: 2%;
}

.home-search {
    padding-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


.search-button {
    border: 0.1px solid black !important;
    width: 15% !important;
    min-width: 18vh !important;
    color: white !important;
    box-shadow: 0px 4px 4px 0px rgba(50, 50, 50, 0.638);
    background-color: #0092DD !important;
    padding-right: 20px;
    text-transform: none !important;

}

.home-body {
    max-width: 100%;
    display: flex;
    margin-top: 10px;
    flex-wrap: wrap;
    height: 60vh;
    max-height: 70vh;
    overflow-y: scroll
}

.home-body::-webkit-scrollbar {
    width: 1px;
}

.home-body::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.home-body::-webkit-scrollbar-track {
    background-color: transparent;
}

@media screen and (max-width :768px) {
    .home-body {
        height:70vh;
        justify-content: center;
    }
    
}