.card_div{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.card.MuiCard-root {
    width: 742px;
    align-self: center;
    border-radius: 6px;
  }
  
  .header1.MuiCardHeader-root {
    padding: 24px 24px 0px 24px;
    gap: 12px;
  }
  
  .header2.MuiCardContent-root {
    padding: 24px;
  }

  .logo_image {
    width: 40px;
    height: 40px;
  }

  .headingTypography {
    font-family: 'Public Sans';
    font-size: 24em;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
  }

  .frame {
    width: 694px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .frame1{
  width: 694px;
  height: 39px;
  }

  .frame2{
    width: 694px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    padding: 0px, 40px, 0px, 40px;
  }
  .frame3{
    
  }

  .formContainer {
    width: 515px;
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: center;
    gap: 16px;    
  }

  .nameInput.MuiTextField-root {
    width: 395px;
    color: #DBDADE;
    border: 1px;
    border-color: #DBDADE;
    border-radius: 4px;


  }

  .MuiTextField-root{
    padding: 7px, 10px, 7px, 10px;

  }

  .MuiInputLabel-root{
    color: #DBDADE;
    height: 21px;

  }

  .continue{
    width: 614px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  margin: 24;
  }

  .submitButton.MuiButton-root {
    padding: 10px, 20px, 10px, 20px;
    background: '#0092DD29';
  }

  .secondButton.MuiButton-root{
    background-color: #0092DD;
  }