@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
.landing-container {
    overflow: hidden;
    background-image: url("../../assets/images/blue-lines.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.landing-nav-btn {
    background-color: white;
    font-size: 30px;
    transition: 0.2s;
}

.landing-nav-btn:hover {
    transition: 0.4s;
    box-shadow: 3px 3px 15px rgb(34, 34, 34);
}

.nickname-container {
    width: 60%;
    height: 50%;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 3px 3px 20px rgb(58, 58, 58);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.nickName-upper {
    border-radius: 10px 10px 0 0;
    width: 100%;
    display: flex;
    align-items: center;
    height: 20%;
    padding-left: 20px;
    background-image: linear-gradient(to left top, #0066ff, #2d58ef, #3e49de, #483acd, #4f29bc);
    color: #f1c40f;
    font-family: 'Lobster', cursive;
    letter-spacing: 2px;
    text-shadow: 2px 2px 5px black;
}

.nickname-body {
    /* flex-grow: 4; */
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.nickname-body-mid {
    width: 80%;
    display: flex;
    justify-content: space-around;
}