/* DiaryCard.css */

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 20px 5px 5px 1px;
  padding: 10px;
  background-color: white;
  max-width: 300px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  transition: height 0.3s ease-in-out;
}

.card:hover {
  box-shadow: 0px 4px 4px 0px rgba(50, 50, 50, 0.638);
  transform: scale(1.02);
}

.card-body {
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease-in-out;
}

.card-title {
  margin-top: 0;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.card-text {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  text-overflow: ellipsis;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

.link-show-more {
  color: #007bff;
  padding-top: 5px;
  cursor: pointer;
  font-weight: bold;
}