
.App {
  background-color: #00A9DF;
  min-height: 100vh;
}

.App-header {
  padding-left: 2%;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(15px + 2vmin);
  color: rgb(0, 0, 0);
  font-weight: 600;
}

.App-link {
  color: #61dafb;
}

