* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  background-image: linear-gradient(
    -45deg,
    #039be5 0%,
    #039be5 33%,
    #00bcd4 100%
  );
  background-attachment: fixed;
}
