
body {
  background-color:rgb(21, 185, 226);
  //background-image: url('images.jpeg')
}
@use './DiaryCard.js';

.card{
  background-color:rgb(150, 227, 247)
  
}

.card {
   word-wrap: break-word;
 
  
overflow: hidden;
 
}
.inputRounded .MuiOutlinedInput-root {
  border-radius: 20px;
  background-color: rgb(87, 183, 238);
  border: rgb(87, 165, 238);
  margin-top: 20;
  margin-bottom: 20;
  display: 'block';
}
.button{
  border-radius: 50%;
  background-color: rgb(38, 110, 245);
  width: 80px;
  height: 80px;
  font-weight: bold;


}
