body {
    background-color:rgb(21, 185, 226);
  
    padding: 30px 30px 30px 30px;
  
  }
  
  
  
  .inputRounded .MuiOutlinedInput-root {
    border-radius: 20px;
    background-color: rgb(54, 166, 231);
    border: rgb(54, 166, 231);
    margin-top: 20;
    margin-bottom: 20;
    display: 'block';
  }
  
  .Button{
    background-color: rgb(38, 110, 245);
    width: 80px;
    height: 80px;
    font-weight: bold;
  
  }
  
  .signin-form{
    border-radius: 20px;
    margin-top: 20;
    margin-bottom: 20;
    display: 'block';
    
  
  }
  .frame{
    
    background-color: azure;
    
    border-radius: 50%;
    font-size: large;
  
  
  }