
body {
  background-color:rgb(21, 185, 226);

  padding: 30px 30px 30px 30px;

}



// .inputRounded .MuiOutlinedInput-root {
//   border-radius: 20px;
//   background-color: rgb(54, 166, 231);
//   border: rgb(54, 166, 231);
//   margin-top: 20;
//   margin-bottom: 20;
//   display: 'block';
// }

// .Button{
//   //border-radius: 50%;
//   background-color: rgb(38, 110, 245);
//   width: 80px;
//   height: 80px;
//   font-weight: bold;

// }

// .signin-form{
//   border-radius: 20px;
//   background-color: rgb(87, 183, 238);
//   border: rgb(87, 165, 238);
//   margin-top: 20;
//   margin-bottom: 20;
//   display: 'block';
  

// }
.container{
  
  background-color: azure;
  
  border-radius: 50%;
  //color: rgb(21, 185, 226);
  font-size: large;


}

