.sign-in-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../../../public/clouds.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.logo {
  width: 25px;
  height: 25px;
  margin-left: 10px;
  margin-right: 10px;
}

.signin-row {
  display: flex;
}
.title {
  display: flex;
  justify-content: center;
  color: #0081c9;
}

.row-2 {
  display: flex;
  justify-content: center;
}

.name-row {
  display: flex;
}

/* .continue-btn {
  margin: 2px !important;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
} */
